<mat-toolbar color="primary" class="row m-0 toolbar-flex">
  <div class="toolbar-item"><span class="pr-3">Read Reviews</span><button mat-button [matMenuTriggerFor]="parkmenu">Choose Park</button>
    <mat-menu #parkmenu="matMenu">
        <button *ngFor="let park of parklist" mat-menu-item (click)="navigate('parkreview/' + park.id)">{{park.name}}</button>
    </mat-menu></div>
  <div class="toolbar-item"><span class="pr-3">Want to Review?</span><button mat-flat-button
      color="accent" (click)="navigate('login')">Login!</button></div>
</mat-toolbar>


<div class="review-container row m-0">
  <div *ngFor="let review of reviews" class="col-12 col-md-6 p-2 p-md-3">
    <div class="review-panel">
      <div class="review-header">{{review.parkid}} by {{review.authorid}}</div>
      <div class="p-2">
        <mat-chip-list aria-label="park-features">
          <mat-chip *ngIf="review.trails" selected color="accent">Trails</mat-chip>
          <mat-chip *ngIf="review.volleyball" selected color="accent">Volleyball</mat-chip>
          <mat-chip *ngIf="review.pool" selected color="accent">Pool</mat-chip>
          <mat-chip *ngIf="review.playground" selected color="accent"> Playground </mat-chip>
        </mat-chip-list>
      </div>
      <div>{{review.comments}}</div>
    </div>
  </div>