img{
    padding-bottom: 20px;
}

body
{
    display: block;
    text-align: center;
    padding-top: 50px;
}
mat-form-field
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
}